html {
    background-color: #f1f5f9;
    font-family: sans-serif;
  }

  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
  /* nav styles */
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }

  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #4c1d95;
  }

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover, a:focus {
  background-color: #ff9776;
}

.js-expanded {
  display: unset;
}



.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.tag {
  margin: 0.25em;
  border: dotted 1px #a1a1a1;
  border-radius: .5em;
  padding: .5em 1em;
  font-size: 1.15em;
  background-color: #F8FCFD;
  letter-spacing: 0.025em;
  font-family: Inconsolata;
}
.tag a {
    color: #00539F;
  }
  .tag a:hover {
  text-decoration: none;
}

/* Desktop (Larger than 636px) */
@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
    margin-block-end: 2rem;
  }

  .nav-links a {
    border-radius: var(--border-radius, .25em);
    border: max(2px, .2em) solid #4c1d95;
    display: inline-block;
    padding: .5em 1.25em;
    margin-inline-end: .5rem;
  }
  .hamburger {
    display: none;
  }
}