---
// Layouts (always on top for predictable Style inheritance)
import BaseLayout from "../layouts/BaseLayout.astro";

//Components
import BlogPost from "../components/BlogPosts.astro";

// Get data array from all Markdown files in Posts Folder
const allPosts = await Astro.glob("../pages/posts/*.md");

const pageTitle = "Writer's Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Read what I write here.</h2>
  <h3>
    This page is rendered using BaseLayout and passing in the sites name: <em
      >"{pageTitle}"</em
    > as a prop.
  </h3>

  <p>Watch me post here on my Astro journey.</p>

  <!-- Map through all Posts from Astro.glob and put them in the BlogPost Component, passing in the props URL and Title -->
  {
    allPosts.map((post) => (
      <BlogPost url={post.url} title={post.frontmatter.title} />
    ))
  }
</BaseLayout>
