---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Writer's Blog";
---
    <BaseLayout pageTitle={pageTitle}>
    <h2>Read what I write here.</h2>
	<h3>This page is rendered using BaseLayout and passing in the sites name: <em>"{pageTitle}"</em> as a prop.</h3>

    <p>Watch me post here on my Astro journey.</p>
    <ul>
      <li><a href="/posts/post-1">Freakin' cool first post</a></li>
      <li><a href="/posts/post-2/">Copied second post</a></li>
      <li><a href="/posts/post-3/">Another post that I copied</a></li>
    </ul>
	</BaseLayout>
