---
import Navigation from "./Navigation.astro";
import MobileMenu from "./MobileMenu.astro";
---
<style>
    /* nav {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        background-color: #4c1d95;
    } */
</style>
<nav>
    <MobileMenu />
    <Navigation />
</nav>