---

---
<style>
    /* a {
        font-family: Inconsolata;
        color: aquamarine;
        font-size: 1.25rem;
        background-color: #4c1d95;
        padding-inline: 1rem;
        padding-block: .5rem;
    }
    a:hover {
        background-color: aquamarine;
        color: #4c1d95;
        text-decoration: none;

    } */


</style>
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
</div>